/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

:root {
    --card-bg-color: #0f2b72 ;
}
@import url('https://cdn.jsdelivr.net/npm/eva-icons@1.1.3/style/eva-icons.css');

.uib-timepicker {
    direction: ltr;
}

.page-sidebar.doctor {
    background-color: transparent !important;
}

.special {
    background-color: #fff5d9 !important;
}

.input-group-btn {
    background: #e6eaf1;
}

    .input-group-btn:hover, .input-group-btn:focus {
        background-color: lightgray;
    }

#PortletPrintReport .input-group-btn button {
    padding: 11px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    z-index: 9999 !important;
}

.portlet .portlet-title .actions .btn {
    min-height: 35px;
}

/***
calendars
***/
.uib-timepicker {
    direction: ltr;
}

.calendars-popup {
    z-index: 10061;
}

.calendars {
    border: 1px solid #ddd;
    font-family: 'Droid Arabic Kufi', sans-serif !important;
    box-shadow: -5px 5px rgba(140, 178, 198, 0.2);
    border-radius: 5px;
}

.calendars-nav, .calendars-ctrl {
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
}

.calendars-cmd:hover {
    background-color: inherit;
}

.calendars-month {
    padding: 0 5px;
    width: 20em;
    border: none;
}

    .calendars-month td {
        border: 1px solid #E9ECF3;
    }

    .calendars-month th {
        border: 1px solid #E9ECF3;
        font-size: 10px;
    }

    .calendars-month a {
        padding: 0px;
        background-color: inherit;
    }

.calendars-month-header .calendars-month-year:first-child {
    width: 100px;
    font-size: 90%;
}

.calendars-month table thead tr th span {
    padding: 5px 0;
    font-weight: 600;
}

.calendars-month-header, .calendars-month-header select, .calendars-month-header input {
    height: 2.5em;
    background-color: #E9ECF3;
    color: #333;
}

th.center, td.center {
    text-align: center;
}


.readonly {
    background: #eeeeee;
}


.no-resize {
    resize: none;
}

.auto-height {
    height: auto;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.font-blue-madison {
    color: #5f1f96 !important;
}

.w100 {
    width: 100px
}

.w110 {
    width: 110px
}

/****************************************/
.dashboard-stat.grey-steel .details .desc {
    padding-top: 25px;
}

.dashboard-stat.grey-steel .details .number {
    padding-top: 0px;
}

    .dashboard-stat.grey-steel .details .number a {
        color: #80898e;
    }

        .dashboard-stat.grey-steel .details .number a:hover {
            color: #333;
            text-decoration: none
        }

.m-icon-swapright {
    background-position: -8px -10px;
}

.w100 {
    width: 100px
}


/**************************************/
.badge-theme {
    background-color: #b886bc;
    background-image: none;
}

.d-block {
    display: block;
}

.btn-group > .btn.float-unset {
    float: unset
}

.dashboard-stat .more.h-more {
    min-height: 29px;
    display: block;
}

.dashboard-stat.grey-gallery {
    background-color: #343434;
}

    .dashboard-stat.grey-gallery .more {
        background-color: #292828;
    }

.dashboard-stat.blue-steel {
    background-color: #69b8d9;
}

    .dashboard-stat.blue-steel .more {
        background-color: #5ba2c0;
    }

.bg-red {
    border-color: #cb5a5e !important;
    background-color: #cb5a5e !important;
}

bg-grey-cascade {
    border-color: #909090 !important;
    background-color: #909090 !important;
}

.label-warning {
    color: #fff;
}

.font-price {
    font-size: 20px;
}

.dashboard-stat {
    border-radius: 12px !important;
}

.p-0 {
    padding: 0 !important
}

.text-end-block {
    text-align: end;
}

.portlet-body .footer-panel {
    display: flex;
    justify-content: space-between;
}

/* Message Chat Box */

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: right;
    overflow: hidden;
    width: 40%;
    border-left: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
    font-weight: 600;
}

    .chat_ib h5 span {
        font-size: 12px;
        float: left;
    }

.chat_ib p {
    font-size: 14px;
    margin: auto;
    word-break: break-word;
}

    .chat_ib p.date {
        color: #989898;
    }

.chat_img {
    float: right;
    width: 6%;
}

    .chat_img i.fa-circle {
        color: #44b6ae
    }

    .chat_img i.fa-circle-o {
        color: #777777
    }

.chat_ib {
    float: right;
    width: 94%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    display: block;
}

    .chat_list:hover {
        background: #ebebeb;
    }

.inbox_chat {
    height: 600px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg {
    overflow: hidden;
    margin: 15px 0;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

    .incoming_msg_img img {
        border-radius: 50% !important;
        width: 100%;
    }

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px !important;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    direction: ltr;
    text-align: right;
}

.received_withd_msg {
    width: 70%;
}

.mesgs {
    float: right;
    width: 60%;
}

.sent_msg p {
    background: #eabb00 none repeat scroll 0 0;
    border-radius: 3px !important;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 15px 0;
}

.sent_msg {
    float: left;
    width: 60%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 49px;
    width: 100%;
    padding-left: 35px;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    margin: 0 20px;
}

.msg_send_btn {
    background: #eabb00 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50% !important;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    left: 0;
    top: 8px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 549px;
    overflow-y: auto;
    padding: 25px 20px 0 15px;
}

.finish-btn {
    margin-bottom: 10px;
    text-align: left
}

.mb-2 {
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .incoming_msg_img {
        display: none
    }

    .received_msg {
        width: 100%;
        padding: 0;
    }

    .received_withd_msg {
        width: 100%;
    }

    .sent_msg {
        width: 100%;
    }
}

/*************************/

.widget-bg-color-red {
    background: #ed3165;
}

.widget-bg-color-fb {
    background: #19499f;
}

.widget-bg-color-purple {
    background: #f3565d;
}

.widget-bg-color-gray-dark {
    background: #0b224f;
}

.widget-bg-color-blue {
    background: #25aae1;
}

.widget-bg-color-green {
    background: #199f48;
}

/*********************************************************** price table ****************************************************************************/


.pricing-table-style-02 .pricing-table {
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-color: #fff;
}

    .pricing-table-style-02 .pricing-table .popular-label {
        position: absolute;
        top: -28px;
        right: -47px;
        width: 120px;
        transform-origin: 0;
        padding: 10px 0 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

.pricing-table-style-02 .pricing-body ul li {
    padding: 15px 0;
}

    .pricing-table-style-02 .pricing-body ul li:last-child {
        padding-bottom: 0;
    }

.pricing-table-style-02 .pricing-popular {
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.pricing-table-style-02 .pricing-table {
    border-radius: 10px !important;
    box-shadow: 0 0 26px rgb(0 0 0 / 4%);
    margin-bottom: 24px;
}

.section-Package {
    position: relative;
}

    .section-Package .pricing-table-style-02 .pricing-table .item-price {
        text-align: right;
        padding: 0 24px;
        padding-right: 54px;
        position: relative;
        margin-bottom: 16px;
        color: #a9a9a9;
    }

        .section-Package .pricing-table-style-02 .pricing-table .item-price:last-of-type {
            margin-bottom: 0;
        }

        .section-Package .pricing-table-style-02 .pricing-table .item-price .item-list-par {
            font-size: 16px;
        }

        .section-Package .pricing-table-style-02 .pricing-table .item-price .icon-price {
            position: absolute;
            right: 18px;
            top: -1px;
            height: 25px;
            width: 25px;
            background-color: #458e71;
            color: #fff;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 50% !important;
            display: flex;
        }


        .section-Package .pricing-table-style-02 .pricing-table .item-price.nub-ser {
            padding-right: 24px;
        }

    .section-Package ul {
        list-style: none;
        padding-right: 0;
    }

.pricing-table-style-02 .pricing-table .pricing-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

    .pricing-table-style-02 .pricing-table .pricing-header span {
        font-weight: 700;
        color: #232323;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        display: block
    }

.pricing-table-style-02 .pricing-table .pricing-body h4 {
    font-weight: 700;
    color: #358062;
    font-size: 38px;
    line-height: 3.4rem;
    margin-bottom: 3px;
    margin-top: 0;
}

.pricing-table-style-02 .pricing-table .pricing-body .span-time {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #a9a9a9;
}

.section-Package .pricing-table-style-02 .pricing-table .item-price .icon-price.bg-gray {
    background-color: #cfcdcd;
}

.pricing-table-style-02 .pricing-table .pricing-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-Package .pricing-table-style-02 .pricing-table .nub-ser.item-price {
    padding-right: 24px;
    text-align: center;
}

    .section-Package .pricing-table-style-02 .pricing-table .nub-ser.item-price p {
        font-weight: 600;
        color: #358062;
        font-size: 17px;
        text-align: center;
        line-height: 28px;
        margin-bottom: 0;
    }

.page-sidebar-select {
    padding: 30px 0;
}

    .page-sidebar-select .form-control {
        color: #19499f;
        background-color: #f3f6fa;
        border: 1px solid #ffffff;
        border-radius: 13px !important;
        height: 50px;
        line-height: 28px;
        padding: 4px 14px;
        font-weight: 600;
    }

.statistics .form-control {
    border: 0;
    border-radius: 25px !important;
}

.dashboard-stat2.card-1 {
    background: #ffdfe8;
}

.dashboard-stat2.general-card .display .number small {
    color: #6d7585;
    font-size: 15px;
    margin-top: 6px;
    display: block;
}

.stutes span {
    font-size: 15px;
    color: #6d7585;
    font-weight: 600;
    margin-right: -5px;
}

.dashboard-stat2.general-card .display .icon {
    background-color: #d7e5ff;
    width: 50px;
    height: 50px;
    border-radius: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dashboard-stat2.card-1 .display .icon {
    background-color: #ed3165;
}

.dashboard-stat2.general-card .display {
    margin-bottom: 0px;
    padding-right: 0;
}

    .dashboard-stat2.general-card .display .icon > i {
        color: #fff;
        font-size: 20px;
    }



.dashboard-stat2 .display .icon {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 13px !important;
}






.dashboard-stat2.card-4 .display .icon {
    background-color: #f3565d;
}

.dashboard-stat2.card-5 {
    background: #ddeeff;
}

    .dashboard-stat2.card-5 .display .icon {
        background-color: #0b224f;
    }

.form-control.height-34 {
    height: 34px;
}

.input-group-col.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

.form-body .title-model {
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 0;
    color: #000;
    font-weight: 600;
}

    .form-body .title-model span {
        color: #858585;
        display: inline-block;
        font-size: 16px;
    }

.wallets-modal .img-bank {
    padding: 10px;
    border: 1px solid #b5b5b5;
    transition: .4s;
    width: 120px;
    display: inline-block;
    margin: 0 4px;
    margin-bottom: 6px;
}

    .wallets-modal .img-bank:hover,
    .wallets-modal .img-bank.active {
        border-color: #ec3665;
    }

    .wallets-modal .img-bank img {
        max-width: 100%;
    }

.wallets-modal .list-group {
    list-style: none;
    margin-top: 15px;
}

    .wallets-modal .list-group .item-list {
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background-color: #f7f7f7;
        -webkit-print-color-adjust: exact;
    }

        .wallets-modal .list-group .item-list:nth-child(odd) {
            background-color: #ebebeb;
            -webkit-print-color-adjust: exact;
        }

.wallets-modal .tilte-list {
    font-size: 15px;
    margin-bottom: 15px;
    color: #000;
}

.wallets-modal .list-box li {
    margin-bottom: 5px;
}

.height-card {
    min-height: 205px;
}

.card-spitial.general-card {
    position: relative;
    background: #d9e1eb;
    overflow: hidden;
    box-shadow: unset;
    border-radius: 15px !important;
    background-image: url('../../../files/logo/img-bg.png');
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 0 !important;
}

    .card-spitial.general-card .display {
        padding-right: 15px;
    }

        .card-spitial.general-card .display .number {
            color: #fff;
        }

    .card-spitial.general-card h2 {
        color: #0b224f;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
        display: flex;
        gap: 10px;
        align-items: center
    }

.card-spitial.dashboard-stat2 .display .number {
    width: 100%
}

.dashboard-stat2 .display .number h3.font-count {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #ffffff;
    background-color: #19499f;
    display: inline-block;
    border-radius: 36px;
    padding: 8px 23px 5px;
    line-height: 18px;
}

.card-spitial.general-card .display .number h2 span {
    display: block;
    color: #eb3664;
    font-size: 18px;
    font-weight: 600;
}

.card-spitial.general-card .send-glass {
    position: absolute;
    left: 15px;
    bottom: 0px;
    transform: scaleX(-1); /* Flips the image horizontally */
}




body {
    font-family: Vazirmatn;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-3px);
    }

    100% {
        transform: translatey(0px);
    }
}

.icon-flex {
    width: 100%;
    border-radius: 15px !important;
    background-color: white;
}

    .icon-flex .display .icon {
        margin-left: 10px;
    }

    .icon-flex .display {
        display: flex;
    }

.card-spitial.general-card .send-glass img {
    width: 180px;
    animation: float 5s ease-in-out infinite;
}

.card-spitial .display {
    padding-right: 0 !important;
}
/*******pricing*********/
.tab-slider--nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.tab-slider--tabs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border: 2px solid #19499f;
    border-radius: 50px !important;
    overflow: hidden;
    background: #f5f5f5;
    height: 40px;
    user-select: none;
}

    .tab-slider--tabs:after {
        content: "";
        width: 50%;
        background: #19499f;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0px;
        transition: all 250ms ease-in-out;
        border-radius: 50px;
    }

    .tab-slider--tabs.slide:after {
        right: 50%;
    }

.tab-slider--trigger {
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    color: #19499f;
    text-align: center;
    padding: 10px 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: color 250ms ease-in-out;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    .tab-slider--trigger.active {
        color: #fff;
    }

.tab-slider--body {
    margin-bottom: 20px;
}

.card {
    width: 250px;
}

.card__heading {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 10px;
}

    .card__heading span.title {
        font-size: 1.3rem;
        font-weight: 600;
    }

.card__content {
    padding: 5px 15px;
}

.card .price-label > .current-price {
    font-size: 2.3rem;
    font-weight: 600;
}

.card .price-label > .previous-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #575757;
    text-decoration: line-through;
    margin-right: 8px;
}

/*--------------------------*/
.pricing-package-section .qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

    .pricing-package-section .qty-container .input-qty {
        text-align: center;
        padding: 5px 10px;
        border: 0px solid #d4d4d4;
        max-width: 64px;
        margin: 0 10px;
        border-radius: 5px !important;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.5;
        min-height: 34px;
    }

    .pricing-package-section .qty-container .qty-btn-minus,
    .pricing-package-section .qty-container .qty-btn-plus {
        border: 0px solid #d4d4d4;
        padding: 0;
        font-size: 9px;
        height: 24px;
        width: 24px;
        border-radius: 50% !important;
        transition: 0.3s;
        background-color: #19499f;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        .pricing-package-section .qty-container .qty-btn-minus i,
        .pricing-package-section .qty-container .qty-btn-plus i {
            margin: 0;
        }

    .pricing-package-section .qty-container .qty-btn-plus {
        margin-left: 0px;
    }

.pricing-package-section .num-qty {
    font-weight: 600;
}

.pricing-package-section .qty-container .qty-btn-minus {
    margin-right: 0px;
}


.pricing-package-section .price {
    text-align: center;
    font-size: 36px;
    color: #ed3165;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
}

    .pricing-package-section .price sub {
        position: static;
        font-size: 1.5rem;
    }

.pricing-package-section .pricing-card {
    text-align: center;
    border-radius: 15px !important;
    overflow: hidden;
    margin-bottom: 20px;
}

    .pricing-package-section .pricing-card .title-card {
        margin-bottom: 0;
        margin-top: 0;
        background-color: #19499f;
        padding: 20px 10px;
        font-size: 20px;
        color: #fff;
    }

    .pricing-package-section .pricing-card .pricing-content {
        padding: 15px 0px 20px;
        background-color: #f5f9ff;
    }

        .pricing-package-section .pricing-card .pricing-content .price span {
            display: inline-block;
            font-size: 18px;
        }

        .pricing-package-section .pricing-card .pricing-content .price .price-span {
            margin-left: -7px;
            margin-right: -7px;
        }

    .pricing-package-section .pricing-card .increase-box {
        border-top: 1px solid #d6ddea;
        padding: 25px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .pricing-package-section .pricing-card .increase-box .lable-num {
            margin-bottom: 0;
            font-weight: 600;
            color: #0b224f;
            margin-left: 15px;
        }

    .pricing-package-section .pricing-card .par-package {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .pricing-package-section .pricing-card .list-feature {
        list-style: none;
        padding: 15px;
        text-align: right;
        margin-bottom: 0;
    }

        .pricing-package-section .pricing-card .list-feature .item-feature {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            align-items: center;
            font-size: 14px;
            border-bottom: 1px solid #d6ddea;
        }

            .pricing-package-section .pricing-card .list-feature .item-feature:last-of-type {
                border-bottom: 0;
            }

            .pricing-package-section .pricing-card .list-feature .item-feature span.price-list {
                color: #ed3165;
                font-weight: 700;
                font-size: 16px;
            }

    .pricing-package-section .pricing-card .btn {
        padding: 10px 25px;
        margin: 15px 0;
    }
/****************/
.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center;
}

.block-wallet {
    display: flex;
    padding: 15px 20px;
    background-color: #f5f9ff;
    margin-bottom: 30px;
    justify-content: space-between;
    border-radius: 10px !important;
    align-items: center;
}

    .block-wallet h4 {
        margin: 0;
        font-weight: 700;
        color: #19499f;
    }
/*.mlr-auto{
    margin-left:auto;
    margin-right:auto;
}*/
.details-wallet {
    padding: 15px 20px;
    background-color: #f5f9ff;
    margin-bottom: 30px;
    border-radius: 10px !important;
}

    .details-wallet .title-wallet {
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .details-wallet .list-wallet {
        list-style: none;
        padding: 0;
    }

        .details-wallet .list-wallet .item-wallet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

            .details-wallet .list-wallet .item-wallet h5 {
                font-weight: 700;
                font-size: 14px;
                margin: 0;
            }

                .details-wallet .list-wallet .item-wallet h5 span {
                    display: inline-block;
                    color: #858585;
                    margin-right: 8px;
                    font-size: 13px;
                }

            .details-wallet .list-wallet .item-wallet span {
                color: #ed3165;
                font-weight: 700;
                font-size: 15px;
            }

            .details-wallet .list-wallet .item-wallet.footer-wallet {
                padding-top: 25px;
                border-top: 1px solid #e3edff;
                margin-top: 25px;
            }

                .details-wallet .list-wallet .item-wallet.footer-wallet a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 12px;
                    border-radius: 5px !important;
                    transition: .4s;
                    width: 100%;
                    background-color: #19499f;
                    color: #fff;
                    text-decoration: none;
                }

                .details-wallet .list-wallet .item-wallet.footer-wallet span {
                    color: #fff;
                }

                .details-wallet .list-wallet .item-wallet.footer-wallet a:hover {
                    background-color: #0b224f;
                }

.mt-1 {
    margin-top: 1rem;
}

@media (max-width: 1199px) {
    .row.d-flex.justify-content-center {
        display: block;
    }

    .row.d-flex.justify-content-center {
        justify-content: unset;
    }

    .pricing-package-section .pricing-card .increase-box {
        padding: 25px 12px;
    }

    .pricing-package-section .pricing-card .list-feature .item-feature {
        padding: 12px 12px;
        font-size: 13px;
    }

        .pricing-package-section .pricing-card .list-feature .item-feature span.price-list {
            font-size: 15px;
        }

    .pricing-package-section .price {
        font-size: 30px;
    }

    .pricing-package-section .pricing-card .title-card {
        padding: 16px 10px;
        font-size: 18px;
    }
}

@media (max-width: 679px) {
    .block-wallet {
        display: block;
        padding: 15px 10px;
    }

    .details-wallet {
        padding: 15px 10px;
    }

    .block-wallet h4 {
        margin-bottom: 12px;
    }

    .details-wallet .list-wallet .item-wallet h5 span {
        margin-right: 1px;
        font-size: 10px;
    }

    .details-wallet .list-wallet .item-wallet h5 {
        font-size: 12px;
    }

    .details-wallet .list-wallet .item-wallet span {
        font-size: 13px;
    }
}

.md-radio-inline .d-inline-block {
    display: inline-block;
}
/*********************/
.choose-payment-way .lable-input {
    color: #000;
    font-weight: 700;
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
}

.choose-payment-way {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #e3edff;
}

    .choose-payment-way .md-radio-inline .d-inline-block {
        margin-left: 8px;
    }

        .choose-payment-way .md-radio-inline .d-inline-block:last-of-type {
            margin-left: 0px;
        }

    .choose-payment-way .md-radio-inline.d-inline-block {
        display: inline-block;
    }

.form-body .details-wallet .content-banck {
    padding-top: 20px;
}

    .form-body .details-wallet .content-banck .title-model {
        font-size: 15px;
        color: #0b224f;
    }

.wallets-modal .form-body .details-wallet .content-banck .img-bank {
    width: 100px;
    padding: 5px;
}

.wallets-modal .form-body .details-wallet .content-banck .list-group .item-list:nth-child(odd) {
    background-color: transparent;
}

.wallets-modal .form-body .details-wallet .content-banck .list-group .item-list {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-color: transparent;
}

    .wallets-modal .form-body .details-wallet .content-banck .list-group .item-list span {
        font-weight: 700;
    }

.wallets-modal .form-body .details-wallet .content-banck .list-group {
    list-style: none;
    margin-top: 6px;
    margin-bottom: 6px;
}
/***********************/
.packageInvoice-page .form-body .details-wallet .content-banck {
    padding-top: 25px;
    border-top: 1px solid #e3edff;
    margin-top: 25px;
}

.wallets-modal.packageInvoice-page .form-body .details-wallet .content-banck .list-group {
    margin-top: 0
}

.packageInvoice-page .details-wallet .header-wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .packageInvoice-page .details-wallet .header-wallet .box-img .invoice-logo {
        margin-bottom: 0;
        width: 100px;
    }

    .packageInvoice-page .details-wallet .header-wallet .invoice-num .list-unstyled {
        margin-bottom: 0;
    }

        .packageInvoice-page .details-wallet .header-wallet .invoice-num .list-unstyled .item-list {
            margin-bottom: 6px;
        }

            .packageInvoice-page .details-wallet .header-wallet .invoice-num .list-unstyled .item-list:last-of-type {
                margin-bottom: 0;
            }

.packageInvoice-page .details-wallet .list-wallet .item-wallet.footer-wallet a {
    justify-content: center;
    font-size: 15px;
}

    .packageInvoice-page .details-wallet .list-wallet .item-wallet.footer-wallet a i {
        margin-left: 6px;
    }

hr.hr-header {
    border-top: 1px solid #e3edff;
}

.wallets-modal.packageInvoice-page .form-body .details-wallet .content-banck .list-group .item-list {
    background-color: #fbfdff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    padding: 8px;
    margin-bottom: 5px;
}

    .wallets-modal.packageInvoice-page .form-body .details-wallet .content-banck .list-group .item-list:last-of-type {
        margin-bottom: 0;
    }

.packageInvoice-page.wallets-modal .form-body .details-wallet .content-banck .list-group .item-list:nth-child(odd) {
    background-color: #f5f9ff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.wallets-modal.packageInvoice-page .details-wallet {
    background-color: #ffffff;
    margin-bottom: 0;
}

    .wallets-modal.packageInvoice-page .details-wallet .title-wallet .num-wallet {
        color: #ed3165;
    }

@media print {
    .wallets-modal.packageInvoice-page .details-wallet .title-wallet .num-wallet {
        color: #ed3165 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    hr .hr-header {
        border-color: #e3edff !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .details-wallet .list-wallet .item-wallet span {
        color: #ed3165 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        display: inline-block;
    }

    .widget-title-color-red {
        color: #f36a5a !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .details-wallet .list-wallet .item-wallet h5 span {
        color: #858585 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .wallets-modal.packageInvoice-page .form-body .details-wallet .content-banck .list-group .item-list {
        background-color: #fbfdff !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }


    .wallets-modal.packageInvoice-page .form-body .details-wallet .content-banck .list-group {
        margin-bottom: 10px !important;
    }

    .packageInvoice-page.wallets-modal .form-body .details-wallet .content-banck .list-group .item-list:nth-child(odd) {
        background-color: #f5f9ff !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

.div-Invoice-box .div-Invoice {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-Invoice-box .img-Invoice {
    width: 180px;
    border-radius: 10px !important;
}

.tab-slider--nav.mb-5 {
    margin-bottom: 5px
}


@media print {
    .page-breadcrumb, .searchInput {
        display: none
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }
}


/*******invoice************/
/***
Invoice page
***/ /*
.invoice table {
    margin: 30px 0 30px;
}

.invoice .invoice-logo {
    margin-bottom: 20px;
}

    .invoice .invoice-logo p {
        padding: 5px 0;
        font-size: 26px;
        line-height: 28px;
        text-align: right;
    }

        .invoice .invoice-logo p span {
            display: block;
            font-size: 14px;
        }

.invoice .invoice-logo-space {
    margin-bottom: 15px;
}

.invoice .invoice-payment strong {
    margin-right: 5px;
}

.invoice .invoice-block {
    text-align: right;
}

    .invoice .invoice-block .amounts {
        margin-top: 20px;
        font-size: 14px;
    }

h2.mb--20 {
    margin-bottom: 20px;
    margin-top: 0
}
*/

.counter2 {
    display: flex;
    align-items: center
}

.stu2 {
    margin-right: 20px;
}

.icon-flex svg {
    width: 25px;height:25px;
    fill: #19499f;
}

.number h1 {
    color: #0b224f;
    font-size: 20px;
    font-weight: 800
}





.box-charts {
    padding: 30px;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 20px !important;
}




.card-pink.card-spitial.general-card {
    background-color: #19499f; /* Use the variable */
    display: flex;
    align-items: center;
    background-image:unset!important
}


    .card-pink.card-spitial.general-card .send-glass img {
        width: 200px;
        opacity: 0.05;
    }

.text-white {
    margin-top: 0px;
    color: white !important
}

.card-pink .number {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    position: relative;
}

.card-pink .display {
    width: 100%
}


.card-pink.dashboard-stat2.general-card .display .icon {
    background-color: #ffffff;
    border-radius: 100px !important;
}

    .card-pink.dashboard-stat2.general-card .display .icon > i {
        color: #19499f;
        font-size: 20px;
    }

.icon-wallet-dash {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px
}

    .icon-wallet-dash svg {
        width: 25px;
        fill: #eb3664;
    }

.mt-20px {
    margin-top: 20px
}

.box-charts .titleCard {
    font-size: 20px;
    color: #eb3664;
}

.box-charts .dashboard-stat2 {
    border: 1px solid #e1e4e9;
    box-shadow: none;
}

.box-charts .chart-box-color {
    padding: 0;
    list-style: none;
}

    .box-charts .chart-box-color .chart-item-color {
        display: inline-block;
        margin-left: 15px;
        padding-left: 15px;
        position: relative;
        border-left: 1px solid #f5f5f5;
        vertical-align: middle;
    }

        .box-charts .chart-box-color .chart-item-color:last-of-type {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }

        .box-charts .chart-box-color .chart-item-color p {
            color: #0c2444;
            font-weight: 700;
            vertical-align: middle;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 0;
        }

            .box-charts .chart-box-color .chart-item-color p span {
                vertical-align: middle;
            }

.color-1 {
    background-color: #19d9a3
}

.color-2 {
    background-color: #25aae1
}

.color-3 {
    background-color: #19499f
}

.circle-color {
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
}

.box-charts .number-stats > div {
    border-left: 0px solid #f5f5f5;
}

.box-charts .display.titleCad-chart {
    padding-right: 0;
    margin-bottom: 8px;
}

.form-control-box select.input-sm,
.form-control-box select.input-lg {
    border-radius: 25px !important;
    border: 1px solid #e1e4e9;
    margin-bottom: 5px;
}

.chartts .form-control.input-sm {
    border-radius: 25px !important;
}


#subscriptionForm .subscription-card {
    padding: 25px;
    border: 1px solid #eaf2ff;
    margin-top: 20px;
    border-radius: 10px !important;
}

#subscriptionForm .section-title {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f9ff;
    color: #19499f;
}

#subscriptionForm .warning-message {
    background-color: #fff4cc;
    padding: 15px;
    border: 1px solid #f3e6b1;
    margin-bottom: 15px;
    border-radius: 56px !important;
    text-align: center;
}

#subscriptionForm .form-check-input {
    margin-left: 0;
}

#subscriptionForm .warning-message.border-r-10 {
    border-radius: 10px !important
}

.pricing-package-section .description-content .increase-box {
    border-bottom: 0px solid #f5f9ff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

    .pricing-package-section .description-content .increase-box .lable-num {
        margin-bottom: 0;
        font-weight: 600;
        color: #0b224f;
        margin-left: 15px;
    }

.pricing-package-section .description-content .qty-container .input-qty {
    background-color: #f5f9ff;
}

.pricing-package-section .description-content .note-span {
    margin-right: auto;
    color: #0b224f;
}

.pricing-package-section .type-package {
    border-bottom: 0px solid #f5f9ff;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

    .pricing-package-section .type-package .item-feature-insert .checker .price-list,
    .pricing-package-section .type-package .item-feature-insert .checker {
        vertical-align: sub;
        margin-right: 0px;
    }
/*.pricing-package-section .item-check-feature{
    display:flex;
    flex-wrap:wrap;
}*/
.pricing-package-section .item-check-feature .item-feature-insert {
    border-bottom: 0px solid #f5f9ff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*   max-width: 50%;flex:0 0 50%;*/
}

    .pricing-package-section .item-check-feature .item-feature-insert .increase-box {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

.pricing-package-section .qty-container .input-qty.disabled {
    background-color: #19499f;
    color: #fff;
    border: 1px dashed #f5f9ff;
    outline: none;
    margin-left: 0;
}

.slice-info-box {
    border-bottom: 1px solid #ecf1f9;
    padding: 15px 0px;
}



.pricing-package-section .pricing-card .slice-info-box .list-feature .item-feature {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 5px;
}
/*.pricing-card.info-package-card .header-package {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #19499f;
    padding: 15px 10px;
    font-size: 20px;
    color: #ffffff;
}*/
.d-ltr {
    direction: ltr;
    display: inline-block;
}

.pricing-card.info-package-card {
    background-color: #fff;
    border: 1px solid #eaf2ff;
}

    .pricing-card.info-package-card .title-card {
        border-radius: 10px;
        padding: 12px 10px;
    }

.pricing-package-section .pricing-card.info-package-card .pricing-content {
    padding: 0;
    background-color: #fff;
}

.pricing-package-section .pricing-card.info-package-card .list-feature .item-feature {
    padding: 15px 0 0;
    border: 0
}

.page-sidebar-menu li a {
    display: flex !important;
    align-items: center;
    gap: 8px;
}

    .page-sidebar-menu li a svg {
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
        fill: #0b224f
    }

.page-sidebar-menu li.active a svg {
    fill: white
}

@media (max-width: 2500px) {
    .container-fluidd {
        max-width: 1500px !important;
        margin: auto;
    }


}



.box-dashboard {
    box-shadow: 0 0 30px #1027530f;
    padding: 12px;
    border-radius: 10px !important;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

    .box-dashboard svg {
        fill: #0d2859;
    }

    .box-dashboard p {
        color: #8995ab
    }

    .box-dashboard h6 {
        color: #0b224f;
        font-size: 17px;
        font-weight: 600;
    }

    .box-dashboard.bb-2 {
        background-color: #ecf0f6;
        box-shadow: unset;
    }

.justify-content-between {
    justify-content: space-between
}

.align-items-center {
    align-items: center
}

.box-charts .display {
    margin-bottom: 15px
}

.display .form-control-box select.input-sm, .form-control-box select.input-lg {
    background-color: #f4f7fb;
}

.dashboard-stat2 .display .number {
    flex: 1;
}

.number .fa.fa-arrow-left {
    color: #929ca9;
}

.mb-10 {
    margin-bottom: 10px
}

.mb--20 {
    margin-bottom: 20px !important
}

#myCarousel img {
    width: 100%
}

#myCarousel .carousel-inner {
    border-radius: 15px !important
}

#myCarousel .carousel-control.left {
    border-radius: 0 15px 15px 0 !important;
}

#myCarousel .carousel-control.right {
    border-radius: 15px 0 0 15px !important;
}

.carousel.image-carousel .carousel-indicators li {
    background-color: #ffffff;
    border-radius: 50px !important;
}

    .carousel.image-carousel .carousel-indicators li.active {
        background-color: #ed3165;
    }


.border-rounded {
    border-radius: 100px !important;
}

.multi-search-box {
    background-color: #f4f7fb;
    border-radius: 10px !important;
    padding: 15px;
    border: 1px solid #e6eaf1;
    margin-bottom: 15px;
}



.d-flex .form-control {
    flex: 1;
}

.mb-3 {
    margin-bottom: 15px
}

#categorySelect {
    border-radius: 10px !important;
    background-color: white;
    border: 1px solid #e4eaf3 !important;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: unset;
}




/* Label styling */
.form-label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}


.me-2 {
    margin-left: 10px
}

.multi-search-box .form-control {
    border: 1px solid #e6eaf1;
    height: 40px;
    border-radius: 10px !important;
}

.justify-content-end {
    justify-content: end !important
}



.gap-10 {
    gap: 10px
}


.table-bordered2 tr.heading th:first-child {
    border-radius: 0 100px 100px 0 !important;
}

.table-bordered2 tr.heading th:last-child {
    border-radius: 100px 0 0 100px !important;
}


.table-bordered2.table tr.heading > th {
    background-color: #19499f !important;
    color: #ffffff !important;
    border-right: none !important;
}

.table-bordered2.table tr.heading > th {
    background-color: #19499f !important;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table-bordered2.table-striped > tbody > tr:nth-child(odd) {
    background-color: white !important
}

.table-bordered2.table-striped > tbody > tr:nth-child(even) {
    background-color: #f4f7fb !important;
}

.multi-search-box .btn.btn-primary {
    color: #fff;
    background: #071630 !important;
    background: #071630;
    border-color: unset !important;
    min-width: 90px;
    padding: 10px;
    border-radius: 50px !important
}

.portlet > .portlet-title > .actions > .btn.btn-sm.blue {
    color: #FFFFFF;
    background-color: #0d2858;
    border-radius: 50px !important;
    padding: 5px 15px !important;
}

body .page-container .page-sidebar {
    height: 100% !important;
    overflow-y: scroll !important;
}

    body .page-container .page-sidebar:hover {
        height: 100% !important;
        overflow-y: scroll !important;
    }
/* Customize the scrollbar */
.page-sidebar::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar */
.page-sidebar:hover::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
}

.page-sidebar::-webkit-scrollbar-thumb {
    background-color: #96a1af; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round the corners */
    min-height: 20px; /* Minimum height of the scrollbar thumb */
}

    /* Optional: Add a hover effect for the scrollbar thumb */
    .page-sidebar::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color on hover */
    }

.btn-text {
    background-color: transparent;
}

.table-bordered2 .btn-info {
    color: #19499f!important;
    background-color: #ffffff;
    border-color: #72b8f2;
    box-shadow: 0 0 20px #19499f14;
}

.containerf {
    position: absolute;
    top: 0;
    width: 100%;
}

.car-container {
    position: absolute;
    animation: carDrive 8s ease forwards;
}

.car {
    font-size: 2.5rem;
    margin-right: 20px;
    animation: bounce 0.3s alternate infinite;
}

.banner {
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: bannerFollow 28s ease forwards;
    animation-delay: 0.2s; /* Delays banner to trail behind the car */
}

/* Car bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* Car drive animation */
@keyframes carDrive {
    0% {
        left: -350px;
    }

    50% {
        left: 50%;
        transform: translateX(-50%);
    }

    60% {
        opacity: 1;
        left: 60%;
    }

    100% {
        left: 80%;
        opacity: 0; /* Car disappears */
    }
}

/* Banner animation */
@keyframes bannerFollow {
    0% {
        left: -1800px;
        opacity: 0;
    }

    50% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1; /* Banner appears */
    }

    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1; /* Stays centered after car disappears */
    }
}

.flip-horizontal {
    transform: scaleX(-1);
}

.page-content {
    overflow: hidden
}
.invoice-box .qr-code {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#invoiceNew {
    margin: 0;
    padding: 20px 30px;
    direction: rtl;
    text-align: right;
    color: #333;
    width: 100%;
    background-image: url('../../../files/bg-fatora.jpg');
    background-position: center;
    background-size: cover;
}

    #invoiceNew .container {
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
    }

    #invoiceNew .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        #invoiceNew .header img {
            height: 30px;
        }
            #invoiceNew .header img.logo {
                width: 170px;
                height: auto !important;
            }

    .content.ar{
        direction:rtl;
        text-align:right
    }
.content.en {
    direction: ltr;
    text-align: left
}

    #invoiceNew h1, #invoiceNew h2, #invoiceNew h3 {

        margin: 0;
        padding: 0;
    }

    #invoiceNew .content p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5;
    }

    #invoiceNew .account-section {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

    #invoiceNew .account {
        width: 45%;
        text-align: center;
    }

        #invoiceNew .account img {
            width: 150px;
            margin-bottom: 10px;
        }

        #invoiceNew .account span {
            display: block;
            margin-bottom: 6px;
            font-size: 15px;
        }

    #invoiceNew .footer {
        text-align: center;
        margin-top: 30px;
        font-size: 12px;
        color: #555;
    }

    #invoiceNew .stamp {
        text-align: center;
        margin-top: 20px;
    }

        #invoiceNew .stamp img {
            width: 160px;
            opacity: 1;
            transform: rotate(-9deg);
        }

#invoiceNew .footer p {
    margin: 5px 0;
    font-weight: 700;
    color: #19499f;
}

@media print {



    #invoiceNew {
        padding: 10px 10px !important;
        width: 100%;
        background-image: url('../../../files/bg-fatora.jpg')!important;
        background-position: center!important;
        background-size: cover!important;
        print-color-adjust: exact!important;
        -webkit-print-color-adjust: exact!important;
    }


    #invoiceNew {
        margin: 0;
    }

        #invoiceNew .container {
            border: none;
        }
    .mt--10px {
        margin-top: -10px !important;
    }
}

.mt--20px{
    margin-top:-30px!important;
}

.panel-default {
    border-color: unset;
    border: unset;
    padding: 20px;
    border-radius: 20px !important;
}

.page-header-fixed .panel-default > .panel-heading {
    color: #19499f;
    background-color: #f4f7fb;
    border-color: unset;
    border-radius: 20px !important;
    border: unset;
    font-weight: 700;
}
.page-bar {
    padding: 0;
    margin-bottom: 10px !important;
}






.img-logo-sidebar {
    margin: auto;
    width: max-content;
    margin-bottom:20px;
    
}

    .img-logo-sidebar img {
        border-radius: 500px !important;
        max-width: 100px
    }


/* Fixed Button */
.fixed-button {
    position: fixed;
    left: 0;
    bottom: 340px;
    transform: translateY(-50%);
    padding: 10px 10px;
    background-color: #19499f;
    color: #fff;
    cursor: pointer;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 0 100px 100px 0 !important;
    z-index: 99999;
}

/* Hidden Panel */
.animated-panel {
    position: fixed;
    left: -250px;
    bottom: 00px;
    transform: translateY(-50%);
    width: 225px;
    padding: 15px;
    background-color: white;
    color: #091d40;
    border-radius: 5px;
    box-shadow: 0 0 20px #19499f1f;
    transition: left 0.3s ease;
    z-index: 999;
    border-radius: 10px !important
}

.color-hint{
    margin-bottom:0
}
.input-colors .theme-btn {
    width:100%
}
/* Panel visible class */
.panel-visible {
    left: 0; /* Slide in from the left */
}

.app-customizer .offcanvas-body .color-hint > li {
    display: inline-block;
    height: 65px;
    width: 46px;
    padding: 8px;
    border-radius:10px;
    cursor:pointer;
    
}

    .app-customizer .offcanvas-body .color-hint > li div {
        height: 100%;
        width: 100%;
        border-radius: 15px!important;
        
    }

.mb--5{
    margin-bottom:5px
}


.text-end{
    text-align:left;
}

.w-100{
    width:100%
}

.icon-wallet-dash.w-100 {
    width: 50px !important;
}

.dashboard-stat2 a {
    text-decoration: none!important;
}

.btn.btn-sm.green{
    border-radius:100px!important
}

.form-control .select2-choice {
    border: none;
    background-color: #fff;
    background-image: none;
    filter: none;
    height: 38px;
    padding: 6px 12px 6px 0;
    border-radius: 10px !important;
}

.dataTables_wrapper .row.smaller-paging:first-child {
    display: none;
}

.table-scrollable {
    border: 1px solid #e9ecef;
    border-radius: 25px !important;
}

.gm-style-iw-d h3, .gm-style-iw-d h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Vazirmatn;
    font-weight: 600;
}

.gm-style-iw-d p {
    font-family: Vazirmatn;
    color: #596670;

}

.gm-style-iw-c {
    border-radius: 10px !important;
    max-width: 400px !important;
    overflow-x: hidden !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
    color:#fff;
}



.multi-search-box .input-group-btn {
   
    background: #ffffff;
    border: 1px solid #e4eaf3;
}

.multi-search-box .btn.default {
    background-color: #ffffff;
}

 .multi-search-box .form-control[disabled],
 .multi-search-box .form-control[readonly],
 .multi-search-box fieldset[disabled] .form-control {
    background-color: #ffffff;
}

.calendars-month a {
 
    font-weight: 500!important;
}

#globalActions .btn-sm.dropdown-toggle{
    border-radius:50px!important

}

#globalActions .btn.default {
    border-radius: 50px !important
}


.flex-column{
    flex-direction:column;
}

.main-provider .height-card {
    min-height: 170px;
}

 .btn-lg {
    padding: 8px 19px !important;
    font-size: 16px !important;
    border-radius: 50px !important
}

.eye-icon-show {
    position: absolute;
    left: 30px;
    top: 12px;
}

.fa fa-times {
    content: "\f00d";
}

.fa-times:before {
    content: "\f00d";
}

.table.table-striped.table-hover tr{
    text-align:center!important
}


@media print {
    thead, tfoot {
        display: table-row-group;
    }
    .table-responsive nav {
        display: none
    }
}


.heading th {
    text-align: center !important
}
/***responsive30-12-2024*****/
.dashbord-general.row {
    padding-top: 300px;
    position: relative
}
.overflow-hidden{
    overflow:hidden;
}
/* width */
.table-responsive::-webkit-scrollbar {
    width: 4px;height:6px;
    border-radius:25px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    .table-responsive::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
.table-responsive.table-responsive-general{
    overflow-x:hidden;
}
.form-control.copy-par-table{
overflow:hidden;

}
.form-control .select2-choice {
    border: 1px solid #e5e5e5;
}

.main-provider.main-provider-dashbord .height-card {
    min-height: 200px;
}
    @media (min-width: 2499px) {
        .dashbord-general.row {
            padding-top: 450px;
        }

        .container-fluidd {
            max-width: 2250px !important;
            margin: auto;
        }
    }

    @media (max-width: 1799px) {
        .dashbord-general.row {
            padding-top: 300px;
        }

            .dashbord-general.row .carousel.image-carousel .carousel-indicators {
                bottom: 12px;
            }
    }

    @media (max-width: 1667px) {
        .dashbord-general.row {
            padding-top: 260px;
        }
    }

    @media (max-width: 1569px) {
        .dashbord-general .widget-thumb,
        .dashbord-general .dashboard-stat2 {
            padding: 20px 10px;
        }

            .dashbord-general .dashboard-stat2 .display .number h3 {
                font-size: 20px !important;
            }

            .dashbord-general .dashboard-stat2.general-card .display .icon {
                width: 35px;
                height: 35px;
            }

        .dashbord-general .icon-flex svg {
            width: 20px;
            height: 20px;
        }
    }

    @media (max-width: 1549px) {
        .dashbord-general.row {
            padding-top: 250px;
        }
    }

    @media (max-width: 1451px) {
        .dashbord-general.row {
            padding-top: 240px;
        }
    }

    @media (max-width: 1399px) {
        .dashbord-general.row {
            padding-top: 220px;
        }
    }

    @media (max-width: 1269px) {
        .dashbord-general.row {
            padding-top: 200px;
        }

        .card-spitial.general-card h2 {
            font-size: 15px;
        }
    }

    @media (max-width: 1199px) {
        .col-lg-3.space-top-general {
            margin-bottom: 20px;
        }

        .dashboard-stat2.general-card .display .number small {
            font-size: 14px;
        }

        .stutes span {
            font-size: 13px;
            margin-right: 0px;
        }

        .dashbord-general .dashboard-stat2 .display .number h3 {
            font-size: 16px !important;
        }

        .icon-flex .display .icon {
            margin-left: 5px;
        }

        .dashbord-general .dashboard-stat2.general-card .display .icon {
            width: 30px;
            height: 30px;
        }

        .dashbord-general .icon-flex svg {
            width: 18px;
            height: 18px;
        }

        .table-large-responsive .table.table-bordered2 {
            width: 980px !important;
        }
        .main-provider-dashbord .col-lg-4.space-top-general {
       margin-bottom:15px; }
    }

    @media (max-width: 1149px) {
        .dashbord-general.row {
            padding-top: 170px;
        }
    }

    @media (max-width: 991px) {
        .dashbord-general.row {
            padding-top: 200px;
        }

        .car svg {
            width: 300px !important;
        }
    }

    @media (max-width: 767px) {
        .car svg {
            margin-top: -50px !important;
        }
    }

@media (max-width: 875px) {
    .dashbord-general.row {
        padding-top: 178px;
    }

    .fixed-button {
        bottom: 170px;
    }
}

    @media (max-width: 715px) {
        .dashbord-general.row {
            padding-top: 150px;
        }

        .car svg {
            width: 250px !important;
        }
    }

    @media (max-width: 583px) {

        .dashbord-general.row {
            padding-top: 126px;
        }

        .car svg {
            width: 200px !important;
        }
    }

    @media (max-width: 575px) {
        .car svg {
            margin-top: -20px !important;
        }

        .height-card {
            min-height: 180px;
        }

        .table-responsive.table-responsive-general {
            overflow-y: hidden;
            overflow-x: scroll;
        }

            .table-responsive.table-responsive-general .table {
                width: 600px !important
            }
    }

    @media (max-width: 497px) {

        .dashbord-general.row {
            padding-top: 105px;
        }
    }

    @media (max-width: 419px) {

        .dashbord-general.row {
            padding-top: 105px;
        }
    }
.top-menu .navbar-nav.pull-right .darkMode-change {
    margin: 0px;
    padding: 0px;
    height: 68px;
    display: inline-block;
}

    .top-menu .navbar-nav.pull-right .darkMode-change .darkMode-link {
        margin: 0px;
        padding: 28px 16px 19px 16px;
        padding-left: 15px;
        line-height: 20px;
        color: #c0cddc;
        font-size: 19px;
    }
        .top-menu .navbar-nav.pull-right .darkMode-change .darkMode-link:hover {
            background-color: #f9fafc;
        }
        .top-menu .navbar-nav.pull-right .darkMode-change .darkMode-link i {
            color: #c0cddc;
            font-size: 19px;
        }

.new-Branch-select .select2-choice {
    border: unset !important;
    background-color: #ffffff !important;
    padding: 10px;
    border-radius: 50px !important;
}
.new-Branch-select .form-control {
    background-color: transparent !important;
}

.new-Branch-select .select2-container .select2-choice .select2-arrow {
    background-image: none;
    background-color: transparent;
    filter: none;
    border-right: 1px solid transparent;
}

.last-arrow {
    display: inline-block;
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: #19499f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px !important;
}

.lastt .last-arrow {
    text-align: left;
    margin-right: auto;
}


.dir-ltr {
    direction: ltr !important;
}

.d-inline-block {
    display: inline-block !important
}

.tablee-new tr td {
    padding: 10px;
}